
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>欢迎访问EShop系统，用户页面正在紧张筹建中，请先访问<a href="/admin/manager">后台管理系统</a>……</h1>
</body>
</html>
